.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(39, 9, 105, 0.8);
  z-index: 1200;
}

.Modal {
  position: relative;
  min-width: 400px;
  max-width: calc(100% - 10px);
  max-height: calc(100% - 10px);
  border-radius: 20px;
  overflow: hidden;
  background-color:#fff;
  padding: 30px 30px;
}

.close {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
}
