.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100ww;
  height: 100wh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(39, 9, 105, 0.8);
  z-index: 1200;
}

.Modal {
  position: relative;
  max-width: calc(100% - 20px);
  max-height: calc(100% - 20px);
  border-radius: 20px;
  overflow: hidden;
  background-color:#fff;
}

.close {
  position: absolute;
  top: 0;
  left: 0px;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
}
