.delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.message {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

.button_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.confirm_button,
.cancel_button {
  width: 200px;
  height: 50px;
  font-size: 16px;
}

.confirm_button {
  color: var(--main-light);
  background-color: var(--main-acc);
  transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover,
  &:focus {
    background-color:var(--dark);
  }
}

.cancel-button {
  color: var(--grey-font);
  background-color: var(--dark);
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1),
    border-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover,
  &:focus {
    background-color: transparent;
    border-color:var(--grey-font);
  }
}
