.section {
    padding-top: 50px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1200px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addaddCarBtn {
    margin-left: auto;
}