.table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-collapse: separate;
  border-spacing: 0;
}

th {
  background-color: aqua;
  min-width: 100px;
  border-collapse: collapse;
  height: 30px;
}

tbody tr {
    height: 50px;
}
tbody tr:nth-child(even) {
    background-color: #9abb5a;
}

.actionsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    min-width:120px
}