@import "~modern-normalize/modern-normalize.css";
@import "./sass/variables";

body {
  font-family: "Manrope";
  background-color: var(--main-back);
  height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  max-width: 100px;

}

input, select, textarea {
  outline: none;
  &:focus {
    border-color: var(--main-acc);
    border-radius: 2px;
    border-width: 0.2px;
  }
}
